/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

#hero {
    width: 720px;
    height: 344px;
    background-image: url("images/torshov.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#hero-text {
    color: #f1faee;
}

#hero-title {
    font-size: 32px;
    font-weight: 700;
    width: 201px;
    height: 34px;
    padding: 5px 12px;
    border-radius: 10px;
    border: 1px solid #1D3557;
    background-color: #1D3557;
    margin: 0 auto;
    margin-bottom: 11px;
}
#hero-subtitle {
    width: 355px;
    height: 40px;
    padding: 6px 28px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #457B9D;
    border-radius: 10px;
    background-color: #457B9D;
    margin: 0 auto;
}
#activities {
    width: 720px;
    height: 378px;
    background-color: #F1FAEE;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#activities-title {
    margin-bottom: 54px;
    margin-top: 39px;
    font-size: 24px;
    font-weight: 700;
    color: #1D3557;
}
#activities-suggestions {
    display: flex;
    justify-content: space-around;
    width: 652px;
}
.suggestion-card {
    width: 198px;
    height: 226px;
    margin: 0;
}
body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100px;
}
.suggestion-image {
    border-radius: 50%;
}

h4, p{
    font-size: 16px;
    color: #1D3557;
}
h4 {
    font-style: bold;
    margin-bottom: 17px;
}
#guide-card{
    display: flex;
    align-items: center;
    width: 400px;
    height: 294px;
    background-color: #A8DADC;
    border-radius: 10px;
    border-bottom: 6px solid #1D3557;
}
#guide{
    width: 720px;
    height: 394px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#guide-img{
    width: 180px;
    height: 249px;
    border-radius: 10px;
    margin: 23px 0 23px 13px;
}
#guide-title{
    font-size: 24px;
    font-weight: 700;
    color: #1D3557;
}
#guide-description{
    height: 71px;
    font-size: 16px;
    color: #1D3557;
    font-style: italic;
    margin-bottom: 26px;
}
#guide-name{
    height: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #1D3557;
    font-style: bold;
}
#guide-text{
    width: 189px;
    margin-right: 11px;
    margin-left: 7px;
    margin-top: 49px;
    margin-bottom: 84px;

}